<tr>
	<td align="center" valign="top">
		<table width="640" cellSpacing="0" cellPadding="0" border="0" align="center" style="max-width: 640px; width: 100%"
		 bgcolor="#eaeaec">
			<tbody>
				<tr>
					<td align="center" valign="top" style="padding: 50px">
						<table width="600" cellSpacing="0" cellPadding="0" border="0" align="center" style="max-width: '600px'; width: 100%">
							<tbody>
								<tr>
									<td align="left" valign="top" style="font-size: '20px'">
										<div style="font-family: 'Roboto', sans-serif;color: #b7b7b7;margin-bottom: 10px;font-size: 20px">
											If you have any problems please contact us at
										</div>
										<a href="mailto:support@kudoo.cloud?subject=Contact" style="font-family: 'Roboto', sans-serif;font-size: 20px">
											support@kudoo.cloud
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
</center>
</body>
</html>