<!--
	Data Required
	{
		"html_code": "converted html code from MJML for Purchase Order",
	}
-->
<%- include('header', { title: 'Kudoo Purchase Order' }); %>
<tr>
  <td width="100%">
    <%- html_code %>
  </td>
</tr>
<%- include('footer'); %>
