<!--
	Data Required
	{
		"html_code": "converted html code from MJML for subscription",
	}
-->
<%- include('header', { title: 'Kudoo subscription' }); %>
<tr>
  <td width="100%">
    <%- html_code %>
  </td>
</tr>
<%- include('footer'); %>
