<!-- 
	Path: /email/html/test_ping
	Data Required
	{}
-->
<%- include('header', { title: 'Test Ping' }); %>
<tr>
	<td align="center" valign="top" style="padding: 50px">
		<table width="600" cellSpacing="0" cellPadding="0" border="0" align="center" style="max-width: 600px; width: 100%">
			<tbody>
				<tr>
					<td align="left" valign="top" style="font-family: 'Roboto', sans-serif;padding-bottom: 10px;font-size: 25px;font-weight: 600;color: #434856;">
						This is just a test ping
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<%- include('footer'); %>